h1 {
    color: #23285A;
    width: 40%;
    margin-top: 3rem;
    margin-left: 7%;
}


/* number img */

#number {
    justify-content: center;
    display: flex;
}


/* List on all forms */

#List {
    padding: 0;
    margin: 0;
}

#List li {
    min-height: 9rem;
    font-size: 1.4em;
    color: white;
    padding: 1rem;
}

#List li:nth-child(1) {
    background-color: #23285A;
}

#List li:nth-child(2) {
    background-color: #2A285A
}

#List li:nth-child(3) {
    background-color: #3D3D59
}

#List li:nth-child(4) {
    background-color: #555658
}


/* text-question*/

#text-question {
    padding-right: 1rem;
}

#text-question h5 {
    color: #23285A;
    padding-bottom: .5rem;
    border-bottom: 1.5px solid #23285A;
    font-size: 1em;
}


/* choise img */

#choise img {
    min-height: 25rem;
}


/* Description */

#Description {
    box-sizing: border-box;
    max-height: 25rem;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid #555658;
}

#Description ul {
    padding: .5rem 0;
    margin: 0;
}

#Description .steps {
    padding-left: 1em;
}

#Description h5,
#Description h6,
#Description .level {
    text-transform: uppercase;
    color: #555658;
    margin-bottom: 0;
}

#Description .level {
    font-weight: bold;
}

#Description p {
    font-size: .8em;
    color: #555658;
}

#Description li {
    border-bottom: 1px solid #555658;
    padding: .7rem 0 0;
    margin: 0 1rem;
}

#Description #L1 h5 {
    color: #69E556
}

#Description #L2 h5 {
    color: #fe9d3d
}

#Description #L3 h5 {
    color: #DB3730
}


/*  Frequency */

#frequency h5 {
    color: #23285A;
    margin-bottom: 0;
}

textarea {
    padding: .5rem;
    height: 13.5rem;
}

#continue button {
    color: white;
    background: #DB3730;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: .5rem .2rem;
    font-weight: bold;
}

#continue button a {
    color: white;
    text-decoration: none;
    display: block;
}

#continue p {
    color: #DB3730;
    font-weight: bold;
}

.col-3 {
    max-width: 20%;
    flex: 0 0 20%;
}

.col-9 {
    max-width: 80%;
    flex: 0 0 80%;
}

ul {
    list-style-type: none;
}

input[type='radio'],
input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
}

label {
    padding-left: 2px;
    vertical-align: middle;
}

@media (max-width: 1000px) {
    #List li {
        min-height: 15.5rem;
    }
}

#content2 {
    padding: 0 5rem;
}


/* text-question2  */

.text-question2 {
    padding-bottom: .5rem;
    border-bottom: 1.5px solid #23285A;
    padding-left: 0;
}

.text-question2 h4 {
    color: #23285A;
    padding-left: 0;
}

.Link img {
    cursor: pointer;
}


/* Screening */

#Screening {
    background-color: #2A285A;
}

.body {
    margin-top: 15%;
    width: 90%;
    background: #171E46;
    padding-left: 4%;
}

.body-img {
    width: 75%;
    position: relative;
}

.body-img img {
    max-width: 100%;
    height: auto;
    margin-top: -15%;
}

.body-img a div {
    position: absolute;
    width: 2.5%;
    height: 3%;
    cursor: pointer;
}

.body-img a div.shoulder {
    left: 15.7%;
    top: 4.5%;
}

.body-img a div.head {
    top: -13.5%;
    left: 22.5%;
}


/* chart  */

.title {
    color: #555658;
    font-weight: bold;
    text-align: center;
    padding: .5rem;
    border: 5px solid #23285A;
    border-radius: 10px;
    margin: 14% 2% 0;
}

canvas {
    background: transparent;
    margin-top: 2rem;
}

.canvas {
    position: relative;
    margin-bottom: 3rem;
}

.first-arrow {
    left: 25%;
    top: 66%;
}

.second-arrow {
    left: 43.5%;
    top: 58%;
}

.third-arrow {
    left: 62%;
    top: 47%;
}

.arrow-up {
    position: absolute;
}

.arrow-up:after {
    content: "";
    display: inline-block !important;
    width: 0;
    height: 0;
    border-left: 8px solid #555658;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    vertical-align: middle;
    transform: rotate(-90deg);
    position: absolute;
    left: -17%;
}

.first-arrow::after {
    top: -33%;
}

.second-arrow::after {
    top: -29%;
}

.third-arrow::after {
    top: -19%;
}

.first-arrow::before {
    height: 20px;
}

.second-arrow::before {
    height: 40px;
}

.third-arrow::before {
    height: 60px;
}

.arrow-up:before {
    width: 7px;
    background: #555658;
    content: "";
    display: inline-block;
    vertical-align: middle;
}


/* register */

.blue {
    background: url("../img/background.png");
    background-repeat: no-repeat;
}

.register-form img {
    margin-right: 50%;
    max-width: 100%;
}

.register-form {
    margin-left: 24%;
}

#register {
    margin-top: 20%;
}

.register-form p {
    text-align: center;
    color: #555658;
    font-size: 1.2em;
}

.register-form form input {
    border-radius: 20px;
    font-size: 1.2em;
    background-color: #eee;
    padding: 1.5rem 1rem;
}

.register-form form .date input {
    border-radius: 0;
}

.date {
    max-width: 50%;
    margin-left: 50%;
}

.register-input {
    margin-bottom: 1.5rem;
}

.check label {
    padding-left: 10px;
    vertical-align: sub;
}

button[type="submit"] {
    color: white;
    background: #DB3730;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: .5rem .2rem;
    font-weight: bold;
}

a {
    font-size: 1.2em;
    color: #555658;
    text-decoration: none;
}

@media (max-width: 992px) {
    .register-form {
        margin-top: 43%;
    }
    #register {
        margin-top: 37%;
    }
}